.ocf label {
    display: inline-block;
}

.ocf .ocf-progress.is-visible {
    display: inline-block !important;
}

.ocf input[type="number"]::-webkit-outer-spin-button,
.ocf input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.ocf input[type="number"] {
    -moz-appearance: textfield;
}

.ocf input,
.ocf textarea {
    display: block;
}

.ocf input[type="email"],
.ocf input[type="text"] {
    min-width: 288px;
}

.ocf input[type="number"] {
    width: 3.5em;
    text-align: center;
}

.ocf label {
    margin-bottom: 0.5rem;
}

.ocf noscript {
    font-weight: bold;
}

.ocf .ocf-alert {
    opacity: 1;
    transition: opacity 187.5ms ease;
    margin-left: 1rem;
    color: #DC3545;
}

.ocf .ocf-alert.is-fading-out {
    opacity: 0;
}

.ocf .has-error {
    border-color: #DC3545 !important;
    box-shadow: 0 0 0 0.125rem #DC3545 !important;
    box-shadow: 0 0 0 1px #DC3545 !important;
    background-color: #fdf3f4 !important;
}

.ocf .form-group-submit {
    margin-top: 2rem;
}

.ocf .ocf-progress {
    margin-left: 1rem;
    vertical-align: middle;
}

.widget .ocf input[type="email"],
.widget .ocf input[type="text"] {
    min-width: 0;
    width: 100%;
}

.widget .ocf textarea {
    width: 100%;
}

.ocf-messages .ocf-message {
    font-weight: bold;
}

.ocf-message-copy h1.ocf-message-copy-element {
    font-size: 1.5rem;
}

.ocf-fade-in {
    -webkit-animation: fade-in 0.250s forwards;
            animation: fade-in 0.250s forwards;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media only screen and (min-width: 992px) {
    .ocf input[type="email"],
    .ocf input[type="text"] {
        max-width: 50%;
    }
    .widget .ocf input[type="email"], .widget
.ocf input[type="text"] {
        width: 100%;
    }
}

@media print {
    body {
        max-height: 1024px;
    }
    body * {
        visibility: hidden;
    }
    body > header,
    body > footer {
        display: none !important;
    }
    .ocf-message-copy,
    .ocf-message-copy-element {
        visibility: visible;
    }
    .ocf-message-copy {
        position: fixed;
        left: 0;
        top: 0;
    }
}
